# Importing Python modules
Import the following modules:
* statsmodels: used in machine learning; usually aliased as sm
* seaborn: a visualization library; usually aliased as sns

Use pip install to install them first. To install pip check here:
https://pip.pypa.io/en/stable/installation/

To install a module:
pip install <package_name> 

To update an module already installed:
pip install <package_name> --upgrade

In a notebook you can perform the installation within the notebook using the symbol "!" before the pip command, e.g.
!pip install seaborn

In [1]:
!pip install seaborn
!pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/brenin/.local/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/brenin/.local/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /home/brenin/.local/lib/python3.10/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/brenin/.local/lib/python3.10/site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /home/brenin/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.2->seaborn) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/brenin/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: statsmodels in /home/brenin/.local/lib/python3.10/site-packages (0.14.3)
Requirement already satisfied: numpy<3,>=1.22.3 in /home/brenin/.local/lib/python3.10/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /home/brenin/.local/lib/python3.10/site-packages (from statsmodels) (1.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /home/brenin/.local/lib/python3.10/site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /home/brenin/.local/lib/python3.10/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /home/brenin/.local/lib/python3.10/site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/brenin/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/brenin/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
# Use an import statement to import statsmodels and seaborn
# fill code below
import statsmodels
import seaborn as sns

numpy is a module for performing mathematical operations on lists of data. The standard alias for numpy is np.

In [3]:
# import numpy with np alias
import numpy as np

Recall some of the ways to create variables

In [ ]:
# Define a variable called bayes_age and set it equal to 4.0.
bayes_age = 4.0

# Display the variable bayes_age.
print(bayes_age)

# Define a variable called favorite_toy whose value is "Mr. Magoo".
# Define a variable called owner whose value is 'IntroDS'.
# Show the values assigned to these variables.
# Bayes' favorite toy
favorite_toy = "Mr. Magoo"

# Bayes' owner
owner = 'IntroDS'

# Display variables
print(favorite_toy)
print(owner)

#Correct the mistakes in the code so that it runs without producing syntax errors.
# One or more of the following lines contains an error
# Correct it so that it runs without producing syntax errors
birthday = "2017-07-14'
case_id = 'DATACAMP!123-456?

Which of the following is not a valid variable name?

* my_dog_bayes
* BAYES42
* 3dogs
* this_is_a_very_long_variable_name_42

The answer is:_______

# Load a DataFrame
Use pd.read_csv() to load data from a CSV file called candy_crush.csv

Candy Crush Saga is a popular mobile puzzle game developed by King. The game involves matching candies of the same color in a grid to clear them and earn points. As you progress through the levels, the challenges become more complex with new obstacles and objectives. The game is known for its addictive gameplay, colorful graphics, and social features that allow players to connect with friends and compete on leaderboards.

 ![ Alt Text](https://compote.slate.com/images/cbb78ab8-16e2-4774-ae11-5a316d76078d.jpg?crop=568%2C346%2Cx0%2Cy0&width=1280).


The game has more than 3000 levels. Estimate the right level of difficulty for each player to keep it interesting.

In [4]:
# Use pd.read_csv() to load data from a CSV file called candy_crush.csv
# note that you have to point to the directory where the file is located
# otherwise move to the directory where you are working before loading the file
# /Users/test/Dropbox/FCUP/FCUP-Aulas/2024_2025/IntroDataScience/datasets/candy_crush.csv
# Import pandas
import pandas as pd
import os

# change the following directory to the directory where the dataset is located
# check the folder datasets in the moodle
#os.chdir("/Users/test/Dropbox/FCUP/FCUP-Aulas/2024_2025/IntroDataScience/datasets/")
# Load the 'ransom.csv' into a DataFrame
df = pd.read_csv('../Datasets/candy_crush.csv')

# Display DataFrame
display(df)

,player_id,dt,level,num_attempts,num_success
0,6dd5af4c7228fa353d505767143f5815,2014-01-04,4,3,1
1,c7ec97c39349ab7e4d39b4f74062ec13,2014-01-01,8,4,1
2,c7ec97c39349ab7e4d39b4f74062ec13,2014-01-05,12,6,0
3,a32c5e9700ed356dc8dd5bb3230c5227,2014-01-03,11,1,1
4,a32c5e9700ed356dc8dd5bb3230c5227,2014-01-07,15,6,0
...,...,...,...,...,...
16860,e3e95924b152d5d2b0fcf0cc2b8a4261,2014-01-07,15,1,1
16861,712d953e972844194475f21b9352c1ab,2014-01-01,8,2,0
16862,7fad6b6c0d8c8a5ef69f467511b5262c,2014-01-01,9,10,1
16863,323676bf93f40dda0a96cba8c73c1478,2014-01-06,14,1,1
16864,cda5e442e086f0b9f8d19b18177e4099,2014-01-01,1,1,1

In [5]:
# describe the numerical features of your dataset
display(df.describe())

              level  num_attempts   num_success
count  16865.000000  16865.000000  16865.000000
mean       9.287222      5.535428      0.627157
std        4.343477      7.322476      0.864708
min        1.000000      0.000000      0.000000
25%        6.000000      1.000000      0.000000
50%        9.000000      3.000000      1.000000
75%       14.000000      7.000000      1.000000
max       15.000000    258.000000     55.000000

In [6]:
# to access the column names of the dataframe use .columns
print(df.columns)

# calculate the dimensions of the dataframe with shape
df.shape

# Display the first five rows of candy_crush.csv using the .head() method for the dataframe
print(df.head())

# Use the .info() method to inspect the DataFrame
print(df.info())

# calculate the mean value of level, use the mean function in numpy
np.mean(df.level)

Index(['player_id', 'dt', 'level', 'num_attempts', 'num_success'], dtype='object')
                          player_id          dt  level  num_attempts  \
0  6dd5af4c7228fa353d505767143f5815  2014-01-04      4             3
1  c7ec97c39349ab7e4d39b4f74062ec13  2014-01-01      8             4
2  c7ec97c39349ab7e4d39b4f74062ec13  2014-01-05     12             6
3  a32c5e9700ed356dc8dd5bb3230c5227  2014-01-03     11             1
4  a32c5e9700ed356dc8dd5bb3230c5227  2014-01-07     15             6

   num_success
0            1
1            1
2            0
3            1
4            0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16865 entries, 0 to 16864
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_id     16865 non-null  object
 1   dt            16865 non-null  object
 2   level         16865 non-null  int64
 3   num_attempts  16865 non-null  int64
 4   num_success   16865 non-null  int64
dtypes: int64(3), object(2)
memory usage: 658.9+ KB
None

9.287222057515566

# Selecting columns
Once the dataframe is loaded we can access its columns to make calculations over it.
Column names are strings and we can view their names using either dot-head or dot-info functions.

## Selecting with a dot
If the columns string only contains letters, numbers, and underscores, we can use dot notation. For dot notation, we simply type the name of the variable, followed by a dot, followed by the name of the column. In this case, we don't use quotation marks around the column name.

## Selecting with brackets and string
Type the name of the DataFrame, followed by an open square bracket, followed by the column string (in quotation marks), and closed with a second square bracket.

In [ ]:
# Selecting columns
# Select the column level from candy_crush using dot notation and set it to variable levels and print it
levels = df.level
print(levels)

# One or more lines of code contain errors.
# Fix the errors so that the code runs!

# Select the location column in credit_records
num_success = df[num_success]

# Select the num_success column 
items = df_item_num_success

# Display results
print(num_success)

# Logical testing
Recall that we use the following operators:
* == tests that two values are equal.
* != tests that two values are not equal.
* "> and <" test that greater than or less than, respectively.
* ">= and <=" test greater than or equal to or less than or equal to, respectively.

In [ ]:
# test if there are cases with more than 10 attempts
print(df.num_attempts > 10)

# what is the type of the resulting variable?

# make a subselection of the dataframe based on the previous criteria
df[df.num_attempts > 10]

# now include a second criteria where num_attempts > 10 and num_success equals to zero

df[((df.num_success == 0) & (df.num_attempts > 10))]

In [ ]:
# how many players played in the first year of 2014. Hint: the sum function over a vector o booleans considers true as 1 and false as 0.
sum(df.dt == "2014-01-01")

# select rows with an num_success higher than 5 and set it to a new dataframe called dfh5
dfh5 = df[df.num_success > 5]

In [ ]:
# From matplotlib, import pyplot under the alias plt
# from ____ import ____ as ____
# Plot num_attempts vs num_success
# Plot a scatter graph
# plt.____(____, ____)

# Display the graph
plt.show()

In [ ]:
# repeat the previous procedure adding the x and y label
# fill in the missing code
plt.scatter(df.num_attempts, df.num_success)
# add a label to x axis with xlabel
plt.xlabel("Num. attempts")
# add a label to y axis with ylabel
plt.ylabel("Num. successes")
# Display the graph
plt.show()

# Build a simple bar chart
Create a bar chart for the variable levels
Use the function plt.bar()
Recall that the function plt.bar() takes two arguments: the labels for each bar, and the height of each bar.

In [ ]:
# Display the DataFrame levels using print
# print(____)
print(df.level)

# Create a histogram plot for level use the function hist
plt.hist(df.level)
plt.xlabel( "Game Level")
plt.show()

In [ ]:
# use the seaborn module imported initially to plot a scatterplot
# as you will see seaborn offers a more versatile library for plottin
# import seaborn with sns alias; fill in the code below
# import _____ as sns 

# use the function scatterplot from sns to plot num_attempts vs num_success
# use the parameter data to set to df and x and y respectively to num_attempts vs num_success
sns.scatterplot(data=df, x="num_attempts", y="num_success")


# Assigning a variable to parameter hue will map its levels to the color of the points
# in this case set hue to level
sns.scatterplot(data=df, x="num_attempts", y="num_success", hue ="level")

# A numeric variable can also be assigned to size to apply a semantic mapping to the areas of the points:
# set size also to level 
sns.scatterplot(data=df, x="num_attempts", y="num_success", size ="level", hue="level")

# check more info here
# https://seaborn.pydata.org/generated/seaborn.scatterplot.html

In [1]:
# Create a dataframe from scratch with the following data: two columns with gamer level and number of gamers
# it should contain the following data: beginner: 100, intermediate: 134, advanced: 67
# store it in a dataframe called gamers
data = {'gamer_level': ['beginner', 'intermediate', 'advanced'],
        'number_of_gamers': [100, 134, 67]}
gamers = pd.DataFrame(data)

# show the dataframe
print(gamers)

NameError: name 'pd' is not defined

In [ ]:
# bar plots
# Create a bar plot of the number of gamers per level
# Label that bar plot "Gamer Levels" on the y-axis
plt.bar(gamers.gamer_level, gamers.number_of_gamers)
plt.ylabel("Gamer Levels")
plt.show()

In [ ]:
# you can create new variables/ columns from the existing columns or new ones.
# you can set the new variable using the square brackets and the string of variable name df["newvar"] = ....
# print the head of the df dataframe
print(df.head())

# create a new dataframe called df2
df2 = df
# add a variable called ns10 that scales the number of succeses by 10 (ie. X10)
df2["ns10"] = df.num_success * 10

# add a variable called scaled_level that scales the levels between 0 and 1
df2["scaled_level"] = df2.level / max(df2.level)
print(df2.scaled_level)


# remove a column with function drop
# try with the option inplace as True and False
df2.drop(columns=['player_id'], inplace=True)

# print the head of the df2 dataframe
print(df2.head())

# print again the head of the df dataframe
# what happen here to the df? can you explain why?